<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Promomoções</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <main>
        <h2>Cadastrar Promomoção</h2>
        <section id="cadpromo">
            <form action="/registrarpromocao" method="post" >
                <!-- Iniciando primeira linha -->
                <div class="row">
                    <div class="col">
                        <!-- Primeira coluna -->
                        <label for="txtnomepromo" class="form-label" >Nome da Promoção</label>
                        <input type="text" class="form-control" name="txtnomepromo" id="txtnomepromo" tabindex="1" autofocus>
                    </div>
                  
                </div>
                <!-- Iniciando segunda linha -->
                <div class="row">
                    <div class="col">
                        <!-- Primeira coluna -->
                        <label for="dtstartpromo" class="form-label" >Inicio da Promoção</label>
                        <input type="date" class="form-control" name="dtstartpromo" id="dtstartpromo" tabindex="3" >
                    </div>
                   <div class="col">
                    <label for="dtendpromo" class="form-label" >Fim da Promoção</label>
                    <input type="date" class="form-control" name="dtendpromo" id="dtendpromo" tabindex="4" >
                   </div>
                   
                </div>
                <div class="row">
                    <div class="col">
                        <label for="txtdescpromo" class="form-label">Descrição da promoção</label>
                        <textarea name="txtdescpromo" id="txtdescpromo" class="form-control" rows="6" tabindex="5"></textarea>
                    </div>
                   
                        <div class="col bg-light rounded-3 m-4">
                            <h2>Promomoção ativa?</h2>
                            <select name="ativapromo" id="ativapromo" class="form-control" tabindex="7">
                                <option value="">Selecione uma opção</option>
                                <option value=2>1</option>
                                <option value=1>0</option>
                            </select>
                            
                               
                        </div>
                           <div class="row m-4"> <input type="submit" class="btn btn-warning mt-4" value="Cadastrar" name="btcadpromo" id="btcaddesconto" tabindex="8">

                    </div>
                
               </div>

            </form>
        </section>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>